.error{
    color: red;
    font-size: 12px;
}
hr {
    color: blue;
    background-color: blue;
    height: 1px;
}
.ui-dialog { font-size: 11px; }
#question {
    width: 300px!important;
    height: 60px!important;
    padding: 10px 0 0 10px;
}
#question img {
    float: left;
}
#question span {
    float: left;
    margin: 20px 0 0 10px;
}
.ui-dialog 
.ui-dialog-titlebar-close{
    background-image: url(includes/img/remove.png);
    background-color: white;
}
.ui-draggable 
.ui-dialog-titlebar{
    background-color: #006400;
}
.navbar-default 
.navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color: #b2dba1}
#menutitle{
    color: white;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background-color: #006400;
}
body {
    padding-top: 85px;
}

/*AtlantaJeans theme added*/
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #006400;
    border-color: #006400;
}
.panel-primary{
    border-color: #006400;
    margin-left: -25px;
    margin-right: -25px;
}
a {
    color: #006400;
    text-decoration: none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #006400;
    border-color: #f0dbe1;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
.btn-primary {
    color: #fff;
    background-color: #5b2436;
    border-color: #f0dbe1;
}
hr {
    color: #f0dbe1;
    background-color: #f0dbe1;
    height: 1px;
}
#box{
    width: 100px; 
    height: 35px;
    border-radius: 10px;
}

/*Rodapé*/
.footer {
    position:absolute;
    bottom:0;
    left: 0px;
    width:100%;
    height: 50px;
    background: #006400
}

/*Widget Previsão do Tempo*/
.WFOT1 {
    border:2px solid #E1E1E1; 
    background-color:#F1F1F1; 
    padding:10px
}
.WFH1 {
    font:bold 14px Arial, sans-serif; 
    margin-bottom:6px
}
TABLE.WFOT TD {
    vertical-align:top;
}
.FCOVTMP {
    font:14px Arial, sans-serif; 
    line-height:16px; 
    padding-bottom:4px
}
.FCOVEXP {
    font:12px Arial, sans-serif; 
    line-height:14px; 
    text-align:center
}
.WFI {
    background-color:#3399FF;
    padding:0
}
.WTL {
    color:blue;
    font-weight:bold
}
.WTH {
    color:red;
    float:right;
    font-weight:bold
}
.WFLK {
    font-size:11px;
    color:#900;
    text-decoration:none
}
.WFDAY {
    font-size:12px;
    text-align:center;
    font-weight:bold
}
.progresso {
    display: none; 
    text-align: center; 
    font-size: 12px; 
    font-weight: bold;
}